.password-ins {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 16px;
  p {
    font-size: 12px;
    margin-left: 45px;
    color: red;
    margin-right: 36px;
  }
}
